allow mediaserver camera_data_file:file write;
allow mediaserver mnt_user_file:dir search;
allow mediaserver storage_file:dir search;
allow mediaserver storage_file:lnk_file read;
allow mediaserver self:socket create;
allow mediaserver socket_device:dir write;
allow mediaserver socket_device:dir add_name;
allow mediaserver socket_device:sock_file create;
allow mediaserver socket_device:sock_file write;
allow mediaserver qmuxd:unix_stream_socket connectto;
allow mediaserver socket_device:sock_file setattr;
