type qmiproxy, domain;
type qmiproxy_exec, exec_type, file_type;

init_daemon_domain(qmiproxy)
domain_trans(init, rootfs, qmiproxy)

allow qmiproxy radio_prop:property_service set;
allow qmiproxy init:unix_stream_socket connectto;
allow qmiproxy property_socket:sock_file write;
allow qmiproxy socket_device:dir { write add_name };
allow qmiproxy socket_device:sock_file create;
