allow rild proc_net:file write;
allow rild qmuxd:unix_stream_socket connectto;
allow rild socket_device:dir { write add_name };
allow rild socket_device:sock_file { write create setattr };
allow rild socket_device:dir remove_name;
allow rild socket_device:sock_file unlink;
